/*------------------------------------*\
	$MAIN
\*------------------------------------*/

@import "includes/reset";
@import "includes/fonts";
@import "includes/sprite";
@import "includes/common";


/*----------- #HEADER ---------*/


.b-page__header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  overflow: visible;
}
.b-page__header--cut {
  .b-header {
    display: none;
  }
  .b-header__nav {
    @include minw(768) {
      padding: 1.2em 0;
    }
  }
  .b-header__feedback--nav {
    display: block;
    width: 130px;
  }
}
.b-page__header--mob {
  position: relative;
}

  .b-header {
    width: 100%;
    background-color: rgba(0,0,0,.8);
    border-bottom: 1px solid #000;
  }
    .b-header__content {

    }
      .b-header__col1 {
        @extend %clearfix;
        padding-top: 1.063em; // 17 / 16
      }
        .b-header__logo {
          display: block;
          text-decoration: none;
          text-align: center;
        }
          .b-logo__uppertext {
            font: 3.375em/0.944em "HelveticaNeue-Regular"; // 54 / 16, 51/54
            color: #ffffff;
            &:first-letter {
              color: #79c932;
            }
          }
          .b-logo__lowertext {
            font: 1.063em "SegoeUI-Light"; // 17 / 16
            color: #80c73a;
          }
        .b-header__info {
          position: relative;
          margin-top: 1em; // 16 / 16
          text-align: center;
        }
          .b-header__worktime,
          .b-header__location {
            @include inline-block;
            margin: 0 5px;
            padding-left: 28px;
            font: 0.75em/1.667em "SegoeUI-Light"; // 12 / 16, 20/12
            color: #ffffff;
            background: $sprite no-repeat;
          }
          .b-header__worktime {
            background-position: -40px -1311px;
            margin-bottom: 5px;
          }
          .b-header__location {
            background-position: -40px -1509px;
          }

      .b-header__col2 {
        @extend %clearfix;
        padding-top: .5em;
        padding-bottom: 0.25em;
        text-align: center;
      }
        .b-header__contacts {
          display: inline-block;
          float: none;
          position: relative;
          text-align: center;
          &:after {
            content: '';
            position: absolute;
            top: -5px;
            right: -20px;
            width: 13px;
            height: 22px;
            background: $sprite no-repeat -40px -1608px;
          }
        }
          .b-header__phone-number {
            @include inline-block;
            padding-left: 9px;
            margin-right: 5px;
            font: .875em/0.6em "SegoeUI-Regular"; // 20/16, 12/20
            color: #ffffff;
            border-left: 1px solid #fff;
            text-decoration: none;
            &:first-child {
              padding-left: 0;
              border-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            .t-hl {
              font-size: 0.6em; // 11/20
            }
          }
        .b-header__feedback {
          float: right;
        }
          .b-header__feedback--contacts {
            position: relative;
            display: none;
            float: none;
          }
          .b-header__feedback--nav {
            margin: 0.75em 0;
          }

    @include minw(768) {
      .b-header__logo {
        float: left;
      }
      .b-header__info {
        float: right;
        margin-left: 2.113821138211382%;/* 13 / 615 */
        margin-top: 1.063em; // 17 / 16
        padding: 4px 0 4px 21px;
        text-align: left;
      }
      .b-header__worktime,
      .b-header__location {
        margin: 0;
        font: 0.875em/1.429em "SegoeUI-Light"; // 14 / 16, 20/14
      }
      .b-header__worktime {
        margin-right: 13px;
        margin-bottom: 0;
      }

      .b-header__col2 {
        padding-top: 1.5em;
        text-align: inherit;
      }
      .b-header__contacts {
        float: left;
        padding-right: 28px;
        &:after {
          right: 0;
        }
      }
      .b-header__phone-number {
        padding-left: 18px;
        margin-right: 15px;
        font: 1.25em/0.6em "SegoeUI-Regular"; // 20/16, 12/20
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .b-header__feedback--contacts {
        float: right;
        top: -10px;
      }
    }
    @include minw(992) {
      .b-header__col1 {
        float: left;
        width: 61.5%; /* 615 / 1000 */
      }
      .b-header__info {
        float: left;
        border-left: 1px solid #fff;
      }
      .b-header__col2 {
        float: right;
        width: 38.5%; /* 385 / 1000 */
        padding-top: 2.563em;
        padding-bottom: 1.25em; // 20 / 16
      }
      .b-header__contacts {
        float: right;
        clear: both;
      }
      .b-header__feedback--contacts {
        top: 0;
        width: 38.961038961038966%; /* 150 / 385 */
        margin-top: 0.688em; // 11 / 16
        text-align: right;
      }
    }


    .b-header__menu {
      width: 100%;
      background-color: rgba(0,0,0,.6);
      transition: all 0.3s ease-out;
      &.active {
        background-color: rgba(0,0,0,.8);
      }
    }
      .menu-link {
        float: left;
        display: block;
        margin: 1em 0;
        font: 1.25em "PFDinDisplayPro-Bold"; /// 20 / 16
        color: #80c73a;
        text-decoration: none;
      }

      .b-header__nav {
        clear: both;
        width: 100%;
        margin-top: 0;
        padding: 0;
        text-align: center;
        transition: all 0.3s ease-out;
        overflow: hidden;
        max-height: 0;

        &.active {
          max-height: 40em;
        }
      }

        .b-nav__list {
          margin: 0;
          padding: 0;
        }
          .b-nav__item {
            display: block;
            border-bottom: 1px solid #808080;
            &:last-child {
              border-bottom: 0;
            }
          }
            .b-nav__link {
              display: block;
              padding: 1em;
              font: 1em "SegoeUI-Light";
              color: #ffffff;
              text-decoration: none;

              &:hover {
                color: #79c932;
              }
            }


    @include minw(768) {
      .menu-link {
        display: none;
      }
      .b-header__nav {
        clear: none;
        width: auto;
        max-height: none;
        text-align: left;
        padding: 0.563em 0 0.875em;
      }
      .b-nav__list {
        letter-spacing: -.3em;
      }
      .b-nav__item {
        @include inline-block;
        border-bottom: 0;
        border-right: 1px solid #fff;
        &:first-child .b-nav__link {
          padding-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
      .b-nav__link {
        padding: 0 23px;
      }
      .b-header__feedback--contacts {
        display: block;
      }
      .b-header__feedback--nav {
        display: none;
      }
    }



/*----------- #MAIN ---------*/

.b-main__wrapper {
  background: url("../img/bg/main_bg.jpg") no-repeat top left;
  background-size: cover;
}
  .b-main {
    @extend %clearfix;
    padding-top: 15.625em; // 250 / 16
  }
    .b-main__left {
      width: 100%;
      margin: 0 auto;
      padding-top: 0.625em; // 10 / 16
      text-align: center;
    }
      .b-main__uppertext {
        font: 2.25em "PFAgoraSansPro-Thin"; // 36 / 16
        color: #ffffff;
      }
      .b-bg__text {
        display: inline-block;
        padding: 0 10px;
        background: url("../img/bg/text_bg-1-1.png") repeat;
        border: 1px solid #000000;
        transform: skew(-25deg,0deg);
      }
        .b-bg-text {
          display: inline-block;
          font: 2.313em "PFAgoraSansPro-Bold"; // 34 / 16
          color: #79c932;
          transform: skew(25deg,0deg);
        }
      .b-main__midtext {
        margin-top: 1.481em; // 40 / 27
        font: 1.688em/1.148em "PFAgoraSansPro-Regular"; // 27 / 16, 37/27
        color: #ffffff;
        text-transform: uppercase;
      }
      .b-main__subtext {
        margin-top: 0.938em;
        font: 1em "PFAgoraSansPro-Thin"; // 16 / 16
        color: #ffffff;
      }
      .b-main__button {
        margin: 32px auto 0;
        width: 300px;
      }

    .b-main__form {
      width: 275px;
      margin: 25px auto 75px;
      padding: 14px 8px 16px;
      background-color: #ffffff;
      border-radius: 7px;
    }
      .b-form {

      }
        .b-main-form {
          text-align: center;
        }
          .b-form__header {
            text-align: center;
          }
            .b-form__headtext {
              font: 21px/15px "PFDinDisplayPro-Bold";
              color: #1b0600;
              text-transform: uppercase;
            }
            .b-form__midtext {
              font: 34px "PFDinDisplayPro-Bold";
              color: #79c932;
              text-transform: uppercase;
            }
            .b-form__subtext {
              margin-top: 3px;
              font: 10px "OpenSans-Regular";
              color: #1b0600;
            }
          .b-form__inputs {
            margin-top: 21px;
          }
            .b-input {
              width: 257px;
              padding: 12px 5px 12px 42px;
              font: 14px "OpenSans-Regular";
              color: #1b0600;
              border: 1px solid #dadada;
              border-radius: 5px;
              outline: none;
              background: #fff $sprite no-repeat;
              &:last-child {
                margin-bottom: 0;
              }
            }
              .incorrect {
                border: 1px solid #f00 !important;
                background-color: #ffd2db !important;
              }
              ::-webkit-input-placeholder { /* WebKit browsers */
                color:    #1b0600;
              }
              :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #1b0600;
                opacity:  1;
              }
              ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #1b0600;
                opacity:  1;
              }
              :-ms-input-placeholder { /* Internet Explorer 10+ */
                color:    #1b0600;
              }
              [placeholder]:focus::-webkit-input-placeholder {
                color:transparent;
              }
              [placeholder]:focus:-moz-placeholder {
                color:transparent;
              }
              [placeholder]:focus::-moz-placeholder {
                color:transparent;
              }
              [placeholder]:focus:-ms-input-placeholder {
                color:transparent;
              }
              .b-input--name {
                margin-bottom: 15px;
                background-position: -26px -1697px;
              }
              .b-input--tel {
                background-position: -26px -1796px;
              }

          .b-form__button {
            width: 100%;
            margin-top: 23px;
          }
          .b-form__footer {
            margin-top: 9px;
            font: 13px "OpenSans-Regular";
            color: #868282;
            text-align: center;
          }


  @include minw(500) {
    .b-main__left {
      width: 80%;
    }
  }

  @include minw(768) {
    .b-main__wrapper {
      background-position: top center;
    }
    .b-main {
      padding-top: 17.188em; // 275 / 16
    }
    .b-main__left {
      float: left;
      width: 50%; /* 640 / 1000 */
      margin: auto;
      padding-top: 18px;
      text-align: left;
    }
    .b-main__uppertext {
      display: inline-block;
      font-size: 2.438em; // 39 / 16
    }
      .b-bg-text {
        font-size: 2.438em; // 39 / 16
      }
    .b-main__midtext {
      margin-top: 13px;
      font: 2.188em/1.086em "PFAgoraSansPro-Regular"; // 35/16, 38/35
    }
    .b-main__subtext {

    }
    .b-main__button {
      margin: 32px 0 0;
    }

    .b-main__form {
      float: right;
      width: 332px;
      margin: 0 0 7.813em; // 125 / 16
      padding: 28px 14px 35px;
    }
    .b-form__headtext {
      font: 25px/15px "PFDinDisplayPro-Bold";
    }
    .b-form__midtext {
      font-size: 40px;
    }
    .b-form__subtext {
      font-size: 12px;
    }
    .b-input {
      width: 100%;
    }
  }
  @include minw(992) {
    .b-main {
      padding-top: 22.375em; // 358 / 16
    }
    .b-main__left {
      width: 64%; /* 640 / 1000 */
      padding-top: 3em; // 48 / 16
    }
    .b-main__form {
      margin-bottom: 10.938em; // 175 / 16
    }
  }

/*----------- #TRUST ---------*/

.b-trust__wrapper {
  background-color: #f2f8fb;
}
  .b-trust {
    padding: 0;
  }
    .b-block__header {
      width: 80%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -17px;
        width: 35px;
        height: 1px;
        background-color: #000;
      }

      @include minw(768) {
        width: 100%;
      }
    }

    .b-block__headtext {
      font: 1.75em "PFAgoraSansPro-Thin"; // 28 / 16
      color: #000000;
    }
    .b-block__midtext {
      margin-top: 2px;
      font: 1.563em "PFAgoraSansPro-Regular"; // 25 / 16
      color: #79c932;
      text-transform: uppercase;
    }
    .b-block__subtext {
      font: 14px "PFAgoraSansPro-Thin";
      color: #000000;
    }

  .b-trust__header {
    padding-top: 1.875em; // 30 / 16
  }

  .b-trust__layout {
    margin-top: 30px;
    letter-spacing: -.3em;
    text-align: center;
  }
    .b-trust__item {
      @include inline-block;
      width: 200px;
      margin: 0 20px 30px;

      &:nth-child(1) {
        .b-trust-item-ico {
          width: 53px;
          height: 48px;
          background-position: -40px -2276px;
        }
      }
      &:nth-child(2) {
        .b-trust-item-ico {
          width: 41px;
          height: 50px;
          background-position: -40px -2013px;
        }
      }
      &:nth-child(3) {
        .b-trust-item-ico {
          width: 52px;
          height: 54px;
          background-position: -40px -521px;
        }
      }
      &:nth-child(4) {
        .b-trust-item-ico {
          top: 47%;
          left: 44%;
          width: 56px;
          height: 53px;
          background-position: -40px -2143px;
        }
      }
      &:nth-child(5) {
        .b-trust-item-ico {
          width: 38px;
          height: 53px;
          background-position: -40px -1089px;
        }
      }
      &:nth-child(6) {
        .b-trust-item-ico {
          width: 52px;
          height: 52px;
          background-position: -40px -2404px;
        }
      }
      &:nth-child(7) {
        .b-trust-item-ico {
          width: 54px;
          height: 45px;
          background-position: -40px -2536px;
        }
      }
    }
      .b-trust-item__ico {
        position: relative;
        margin: 0 auto;
        width: 141px;
        height: 141px;
        background-color: #fff;
        border: 1px solid #020202;
        border-radius: 50%;
      }
        .b-trust-item-ico {
          @include centerer;
          background: $sprite no-repeat;
        }
      .b-trust-item__text {
        margin-top: 12px;
        font: 18px "PFAgoraSansPro-Light";
        color: #2b3136;
        text-align: center;
      }

  @include minw(768) {
    .b-trust__header {
      padding-top: 3.125em; // 50 / 16
    }
    .b-trust__layout {
      margin-top: 50px;
    }
    .b-trust__item {

    }
  }

  @include minw(992) {
    .b-trust__header {
      padding-top: 71px;
    }
    .b-trust__layout {
      margin-top: 70px;
    }
    .b-trust__item {
      width: 20%; /* 200 / 1000 */
      margin: 0 33px 99px;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }


/*----------- #CHOOSE ---------*/


.b-choose__wrapper {
  background-color: #f2f2f2;
}
  .b-choose {

  }
    .b-choose__header {
      padding-top: 51px;
    }

    .b-choose__layout {
      @extend %clearfix;
      position: relative;
    }
      .b-choose__iphone {
        padding-top: 50px;
        width: 200px;
        margin: 0 auto 30px;
      }
        .b-choose-iphone__img {
          width: 100%;
        }
          .b-choose-iphone-img {
            display: block;
            width: 100%;
          }

        .b-choose__button {
          position: relative;
          margin: 15px auto 53px;
        }
      .b-choose__ipad {
        width: 200px;
        margin: 0 auto;
      }
        .b-choose-ipad__img {
          width: 100%;
        }
          .b-choose-ipad-img {
            display: block;
            width: 100%;
          }

      .b-choose__helptext {
        display: none;
        position: absolute;
        top: 73%;
        left: 46.5%;
        transform: translate(-50%, -50%);
        font: 12px "SegoeUI-Light";
        color: #000000;
        text-align: center;
      }

  @include minw(500) {
    .b-choose__button {
      &:after {
        content: '';
        position: absolute;
        top: -18px;
        width: 49px;
        height: 47px;
        background: $sprite no-repeat
      }
    }
    .b-choose__button--iphone {
      &:after {
        right: -70px;
        background-position: -40px -165px;
      }
    }
    .b-choose__button--ipad {
      &:after {
        left: -70px;
        background-position: -40px -292px;
      }
    }
  }
  @include minw(768) {
    .b-choose__layout {
      margin-top: 29px;
    }
    .b-choose__iphone {
      float: left;
      width: 289px;
    }
    .b-choose__ipad {
      float: right;
      width: 433px;
    }
    .b-choose__button {
      width: 240px;
      margin-top: 50px;
    }
  }
  @include minw(992) {
    .b-choose__iphone {
      margin: 0 0 0 10.9%; // 109 / 1000
    }
    .b-choose__ipad {
      margin: 0 9.6% 0 0; // 96 / 1000
    }
    .b-choose__helptext {
      display: block;
    }
  }


/*----------- #CHOOSE ---------*/


.b-calc__wrapper {
  background-color: #f2f2f2;
  display: none;
}
  .b-calc {
    max-width: 1050px;
  }

    .b-calc__list {
      @extend %clearfix;
      position: relative;
    }
      .b-calc__item {
        width: 100%;
        display: none;
        padding-bottom: 20px;
        &.active {
          display: block;
        }
      }
        .b-calc__menu {
          text-align: center;
          position: relative;
        }
          .b-calc-menu__item {
            @extend .b-btn-blue-2;
            display: inline-block;
            width: 103px;
            margin: 0 5px 10px;
            padding: 4px 5px;
            font: 12px "HelveticaNeue-Regular";
            cursor: pointer;
          }

          .b-calc-menu__helptext {
            display: none;
            position: absolute;
            bottom: -45px;
            left: 90%;
            &:before {
              content: '';
              position: absolute;
              top: 15px;
              left: -70px;
              width: 65px;
              height: 22px;
              background: $sprite no-repeat -40px -419px;
            }
          }
            .b-calc-menu-helptext {
              font: 12px "SegoeUI-Light";
              color: #000000;
              text-align: center;
            }

        .b-calc__content {
          @extend .clearfix;
          display: none;
          position: relative;
          margin-top: 30px;

          &.active {
            display: block;
          }
        }
          .b-model__img {
            width: 50%;
            margin: 0 auto;
            padding-right: 15px;
          }
            .b-model-img {
              width: 100%;
              display: block;
            }

          .b-model__problems {
            position: relative;
          }
            .b-problems__list {
              width: 280px;
              margin: 30px auto 0;
            }
            .b-problems__list--right {
              @extend .b-problems__list;
              margin-top: 0;
              width: 280px;
            }

              .b-problems__helptext {
                display: none;
                position: absolute;
                left: -129px;
                font: 12px "SegoeUI-Light";
                color: #000000;
                text-align: center;
                &:before {
                  content: '';
                  position: absolute;
                  bottom: -39px;
                  right: -56px;
                  width: 52px;
                  height: 45px;
                  background: $sprite no-repeat -40px -40px;
                }
              }
              .b-problems__item {
                margin-bottom: 4px;
                cursor: pointer;
                &.hot {
                  margin-bottom: 8px;
                  border: 1px dashed #d7d7d7;
                  .b-problems-item__text {
                    &:after {
                      content: '';
                      position: absolute;
                      top: 0;
                      right: -40px;
                      width: 35px;
                      height: 18px;
                      background: $sprite no-repeat -40px -1411px;
                    }
                  }
                }
                &:hover,
                &.active {
                  .b-problems-item__text {
                    color: #79c932;
                    &:after {
                      content: '';
                      position: absolute;
                      top: 4px;
                      right: -18px;
                      width: 9px;
                      height: 9px;
                      background: $sprite no-repeat -40px -1222px;
                    }
                  }
                }
              }

                .b-problems-item__link {
                  display: block;
                  padding: 5px;
                }

                .b-problems-item__text {
                  position: relative;
                  display: inline-block;
                  font: 12px/1.4em "HelveticaNeueCyr-Medium";
                  color: #313131;
                }

      .b-calc__form {
        clear: both;
        width: 290px;
        margin: 0 auto 30px;
        padding: 10px 20px;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 7px;
      }

        .b-calc-form__problem {
          font: 16px "PFDinDisplayPro-Bold";
          color: #79c932;
          text-transform: uppercase;
        }
        .b-calc-form__midtext {
          margin-top: 3px;
          font: 15px "PFDinDisplayPro-Bold";
          color: #1b0600;
          text-transform: uppercase;
        }
        .b-calc-form__solve {
          font: 14px "OpenSans-Regular";
          color: #1b0600;
        }

        .b-calc-form__info {
          margin-top: 9px;
          padding-top: 17px;
          border-top: 1px solid #000;
        }
          .b-calc-info__item {
            font: 14px "PFAgoraSansPro-Regular";
            color: #1a2a36;
            margin-bottom: 6px;
            &:last-child {
              margin-bottom: 0;
            }
          }
            .b-calc-info__time,
            .b-calc-info__cost,
            .b-calc-info__parts {
              display: inline-block;
              font: 14px "PFAgoraSansPro-Bold";
              color: #79c932;
            }
          .b-calc__form {
            .b-form__button {
              margin-top: 10px;
            }
          }
        .b-calc-form__footer {
          margin-top: 28px;
          font: 18px "PFAgoraSansPro-Thin";
          color: #000000;
          text-align: center;
        }


  @include minw(768) {
    .b-calc__item {
      float: left;
      width: 100%;
    }

    .b-calc__content {
      margin-top: 90px;
    }
      .b-calc-menu__helptext {
        display: block;
      }

      .b-model__img {
        float: left;
        margin: 0;
        width: 30%;
      }
      .b-model__problems {
        float: left;

        width: 70%;
      }
        .b-problems__list {
          float: left;
          margin: 0;
        }

        .b-problems__list--right {
          width: 40%;
          margin-left: 10px;
        }
        .b-problems__helptext {
          display: block;
          top: -77px;
        }

  }
  @include minw(992) {
    .b-calc__content {
      margin-top: 148px;
    }
      .b-model__img {
        width: 15%; /* 250 / 1050 */
      }
    .b-calc__item {
      padding-bottom: 150px;
    }
    .b-calc-menu__item {
      margin: 0 1px;
    }
    .b-model__problems {
      width: 50%;
    }
      .b-problems__list--right {
        width: 35.294117647058826%; /* 180 / 510 */
      }

    .b-calc__form {
      position: absolute;
      top: 170px;
      right: 0;
      margin-bottom: 0;
    }
    .b-problems__helptext {
      top: -93px;
    }
  }

@include minw(1200) {
  .b-model__img {
    width: 22%;
  }
  .b-problems__list--right {
    width: 220px;
  }
}


/*----------- #BREAKAGE ---------*/


.b-breakage__wrapper {
  background: url("../img/bg/fourth_bg.jpg") no-repeat top center;
  background-size: cover;
}
  .b-breakage {
    @extend %clearfix;
    padding-top: 5em;
  }
    .b-breakage__left {
      @extend .b-main__left;
      padding-top: 0;
      margin-top: -7px;
    }


  @include minw(768) {
    .b-breakage {
      padding-top: 8em;
    }
  }
  @include minw(992) {
    .b-breakage {
      padding-top: 15.813em; // 256 / 16
    }
    .b-breakage .b-main__form {
      margin-bottom: 13em; // 208 / 16
    }
  }


/*----------- #REPAIR ---------*/

.b-repair__wrapper {
  background-color: #fff;
}
  .b-repair__header {
    padding-top: 2.563em; // 41 / 16
  }

  .b-repair__layout {
    margin-top: 3em; // 48 / 16
    letter-spacing: -.3em;
    text-align: center;
  }
    .b-repair__item {
      @include inline-block;
      position: relative;
      width: 80%;
      overflow: hidden;
      margin: 0 8px 16px;
    }
      .b-repair-item__img {
        width: 100%;
        display: block;
      }
      .b-repair-item__text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.556em 0 0.722em; // 10 / 18, 13 / 18
        font: 1.125em "PFAgoraSansPro-Light"; // 18 / 16
        color: #ffffff;
        text-align: center;
        background-color: rgba(0,0,0,.6);
      }

  @include minw(500) {
    .b-repair__item {
      width: 45%;
    }
  }

  @include minw(768) {
    .b-repair__item {
      width: 28.7%; /* 287 / 1000 */
      margin: 0 8px 12px;
    }
  }


/*----------- #STANDARTS ---------*/

.b-standarts__wrapper {
  background-color: #fff;
}
  .b-standarts {
    padding: 0;
  }
    .b-standarts__header {
      padding-top: 5.688em; // 91 / 16
    }

    .b-standarts__layout {
      @extend .b-trust__layout;
    }
      .b-standarts__item {
        @extend .b-trust__item;

        &:nth-child(1) {
          .b-standarts-item__ico {
            background-color: #ffb2e7;
          }
          .b-standarts-item-ico {
            width: 42px;
            height: 42px;
            background-position: -40px -2661px;
          }
        }
        &:nth-child(2) {
          .b-standarts-item__ico {
            background-color: #ff575b;
          }
          .b-standarts-item-ico {
            width: 38px;
            height: 47px;
            background-position: -40px -2783px;
          }
        }
        &:nth-child(3) {
          .b-standarts-item__ico {
            background-color: #4db6ff;
          }
          .b-standarts-item-ico {
            width: 47px;
            height: 44px;
            background-position: -40px -2910px;
          }
        }
        &:nth-child(4) {
          .b-standarts-item__ico {
            background-color: #4ecdc4;
          }
          .b-standarts-item-ico {
            top: 50%;
            left: 50%;
            width: 54px;
            height: 45px;
            background-position: -40px -3034px;
          }
        }
        &:nth-child(5) {
          .b-standarts-item__ico {
            background-color: #ffa914;
          }
          .b-standarts-item-ico {
            width: 44px;
            height: 44px;
            background-position: -40px -3159px;
          }
        }
        &:nth-child(6) {
          .b-standarts-item__ico {
            background-color: #a775e5;
          }
          .b-standarts-item-ico {
            width: 49px;
            height: 46px;
            background-position: -40px -3283px;
          }
        }
        &:nth-child(7) {
          .b-standarts-item__ico {
            background-color: #a59174;
          }
          .b-standarts-item-ico {
            width: 36px;
            height: 47px;
            background-position: -40px -3409px;
          }
        }
      }
        .b-standarts-item__ico {
          @extend .b-trust-item__ico;
          border: none;
        }
          .b-standarts-item-ico {
            @extend .b-trust-item-ico;
          }


    @include minw(768) {
      .b-standarts__layout {
        margin-top: 40px;
      }
    }
    @include minw(992) {
      .b-standarts__layout {
        margin-top: 52px;
      }
      .b-standarts__item {
        margin: 0 33px 79px;
      }
    }


/*----------- #DISCOUNT ---------*/


.b-discount__wrapper {
  background: url("../img/bg/seventh_bg.jpg") no-repeat top center;
  background-size: cover;
}
  .b-discount {
    @extend %clearfix;
    padding-top: 5em;
  }
    .b-discount__left {
      @extend .b-main__left;
      padding-top: 0;
      margin-top: 0;
    }


    .b-discount {
      .b-form__headtext {
        font-size: 17px;
      }
      .b-form__midtext {
        font-size: 25px;
      }
    }

@include minw(768) {
  .b-discount {
    padding-top: 7.5em;
    .b-form__headtext {
      font-size: 19px;
    }
    .b-form__midtext {
      font-size: 30px;
    }
  }
}
@include minw(992) {
  .b-discount {
    padding-top: 10.313em; // 165 / 16
    .b-main__form {
      margin-bottom: 8.313em; // 133 / 16
    }
    .b-form__headtext {
      font-size: 19px;
    }
    .b-form__midtext {
      font-size: 30px;
    }
  }
  .b-discount__left {
    margin-top: 87px;
  }
}


/*----------- #PROCESS ---------*/

.b-process__wrapper {
  background-color: #ffffff;
}
  .b-process {
    padding: 0;
  }

    .b-process__header {
      padding-top: 1.875em; // 30 / 16
      text-align: center;
      .b-block__headtext,
      .b-block__midtext {
        display: inline-block;
      }
    }

    .b-process__layout {
      margin-top: 30px;
      margin-bottom: 28px;
      letter-spacing: -.3em;
      text-align: center;
    }
      .b-process__item {
        @include inline-block;
        position: relative;
        width: 170px;
        margin: 0 20px 30px;
      }
        .b-process__item-1 {
          .b-process-item-ico {
            width: 51px;
            height: 51px;
            background-position: -40px -3536px;
          }
        }
        .b-process__item-2 {
          .b-process-item-ico {
            width: 52px;
            height: 54px;
            background-position: -40px -3667px;
          }
        }
        .b-process__item-3 {
          .b-process-item-ico {
            width: 58px;
            height: 53px;
            background-position: -40px -3801px;
          }
        }
        .b-process__item-4 {
          .b-process-item-ico {
            width: 50px;
            height: 54px;
            background-position: -40px -3934px;
          }
        }
        .b-process__item-5 {
          .b-process-item-ico {
            width: 43px;
            height: 51px;
            background-position: -40px -4068px;
          }
        }

        .b-process__item--native {
          display: inline-block;
        }
        .b-process__item--clone {
          display: none;
        }

        .b-process-item__ico {
          position: relative;
          margin: 0 auto;
          width: 141px;
          height: 141px;
          background-color: #fff;
          border: 2px solid #81cc3e;
          border-radius: 50%;
        }
          .b-process-item-ico {
            @include centerer;
            background: $sprite no-repeat;
          }
        .b-process-item__text {
          position: relative;
          z-index: 3;
          display: inline-block;
          margin-top: 5px;
          padding: 5px;
          font: 18px "PFAgoraSansPro-Light";
          color: #2b3136;
          text-align: center;
          background-color: #fff;
        }

@include minw(500) {
  .b-process__item {
    width: 28%;
    margin: 0 50px 40px;
  }
}

@include minw(768) {
  .b-process__header {
    padding-top: 3.125em; // 50 / 16
  }
    .b-process__layout {
      margin-top: 40px;
    }
      .b-process__item {
        width: 175px;
        margin: 0 50px 40px;
        &:before {
          position: absolute;
          z-index: 5;
          padding: 0 5px;
          font: 14px "SegoeUI-Regular";
          color: #79c932;
          text-align: center;
          background-color: #fff;
          border: 1px solid #000;
          border-radius: 50%;
        }
      }
      .b-process__item-1 {
        margin-left: 0;
        .b-process-item__ico {
          &:after {
            bottom: -50px;
            right: -70px;
            transform: rotate(55deg);
          }
        }
        &:before {
          content: '1';
          bottom: -23px;
          right: -9px;
        }
      }
      .b-process__item-2 {
        .b-process-item__ico {
          &:after {
            top: -50px;
            right: -70px;
            transform: rotate(-55deg);
          }
        }
        &:before {
          content: '2';
          top: -38px;
          right: 21px;
        }
      }
      .b-process__item-3 {
        .b-process-item__ico {
          &:after {
            bottom: -50px;
            right: -70px;
            transform: rotate(55deg);
          }
        }
        &:before {
          content: '3';
          bottom: -23px;
          right: -9px;
        }
      }
      .b-process__item-4 {
        .b-process-item__ico {
          &:after {
            top: -50px;
            right: -70px;
            transform: rotate(-55deg);
          }
        }
        &:before {
          content: '4';
          top: -38px;
          right: 21px;
        }
      }
      .b-process__item-5 {
        margin-right: 0;
        .b-process-item__ico {
          &:after {
            display: none;
          }
        }
      }
      .b-process__item--native {
        display: none;
      }
      .b-process__item--clone {
        display: inline-block;
      }
        .b-process-item__ico {
          &:after {
            content: '';
            position: absolute;
            z-index: 0;
            height: 1px;
            width: 135px;
            background-color: #000;
          }
        }
}

@include minw(992) {
  .b-process__header {
    padding-top: 71px;
  }
    .b-process__layout {
      margin-top: 58px;
    }
      .b-process__item {
        margin: 0 113px 40px;
      }
      .b-process__item-1 {
        margin-left: 0;
        .b-process-item__ico {
          &:after {
            bottom: -58px;
            right: -114px;
            transform: rotate(49deg);
          }
        }
        &:before {
          bottom: -3px;
          right: -14px;
        }
      }
      .b-process__item-2 {
        .b-process-item__ico {
          &:after {
            top: -40px;
            right: -133px;
            transform: rotate(-49deg);
          }
        }
        &:before {
          top: -57px;
          right: -42px;
        }
      }
      .b-process__item-3 {
        .b-process-item__ico {
          &:after {
            bottom: -58px;
            right: -114px;
            transform: rotate(49deg);
          }
        }
        &:before {
          bottom: -4px;
          right: -13px;
        }
      }
      .b-process__item-4 {
        .b-process-item__ico {
          &:after {
            top: -40px;
            right: -133px;
            transform: rotate(-49deg);
          }
        }
        &:before {
          top: -57px;
          right: -43px;
        }
      }

      .b-process__item-5 {
        margin-right: 0;
      }

        .b-process-item__ico {
          &:after {
            width: 175px;
          }
        }
}


/*----------- #FOOTER ---------*/


.b-footer__wrapper {
  background-color: #000000;
}
  .b-footer {
    @extend %clearfix;
    padding: 19px;
  }

    .b-social__list {
      display: block;
      text-align: center;
    }
      .b-social__item {
        @include inline-block;
        margin: 0 7px;
      }
        .b-social {
          display: block;
          width: 32px;
          height: 32px;
          background: $sprite2 no-repeat;
        }
          .b-social__vk {
            background-position: -114px -62px;
            &:hover {
              background-position: -62px -62px;
            }
            &:active {
              background-position: -10px -62px;
            }
          }
          .b-social__inst {
            background-position: -114px -114px;
            &:hover {
              background-position: -62px -114px;
            }
            &:active {
              background-position: -10px -114px;
            }
          }
          .b-social__fb {
            background-position: -114px -10px;
            &:hover {
              background-position: -62px -10px;
            }
            &:active {
              background-position: -10px -10px;
            }
          }

    .b-credits {
      margin: 20px auto 0;
      text-align: center;
    }
      .b-credits__text {
        position: relative;
        top: 6px;
        display: inline-block;
        margin-right: 5px;
        font: 12px "OpenSans-Regular";
        color: #fff;
      }
      .b-credits__link {
        display: inline-block;
        width: 117px;
        height: 26px;
        background: url("../img/other/logo_mt.png") no-repeat;
        text-indent: -9999px;
        text-decoration: none;
      }

  @include minw(768) {
    .b-social__list {
      float: left;
      text-align: left;
    }
    .b-credits {
      float: right;
      margin: 0 10px 0 0;
    }
  }

  @include minw(992) {
    .b-credits {
      margin: 0;
    }
  }


/*----------- #THANKS ---------*/

.html-thanks {
  background: url("../img/bg/fourth_bg.jpg") center center no-repeat fixed;
  background-size: cover;
}
.b-page__wrapper--thanks {
  position: relative;
}
.b-thanks__wrapper {
  @extend %clearfix;
}
  .b-thanks__info {
    @include centerer;
    top: 47%;
    width: 90%;
    text-align: center;

    .b-main__uppertext {
      font-size: 30px;
    }
    .b-bg-text {
      font-size: 30px;
    }
    .b-main__midtext {
      font-size: 17px;
    }
    .b-main__button {
      margin: 20px auto 0;
    }
  }

  @include minw(992) {
    .b-thanks__info {
      width: 50.5%; /* 505 / 1000 */
      .b-main__uppertext {
        font-size: 39px;
      }
      .b-bg-text {
        font-size: 39px;
      }
      .b-main__midtext {
        font-size: 23px;
      }
      .b-main__button {
        margin: 50px auto 0;
        width: 300px;
      }
    }
  }

html, body { height: 100%; }

.b-page__wrapper--thanks {height: auto; min-height: 100%;}

.sticky-footer {
  position: relative;
  margin-top: -70px;
  height: 70px;
  clear:both;
}


/** #POPUP **/


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  background: rgba(0,0,0,0.8);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

.popup-content {
  @include centerer;
  width: 300px;
  padding: 16px 5px 20px;
  background-color: #fff;
  border-radius: 7px;

  .b-form__midtext {
    font-size: 35px;
  }
  .b-input {
    width: 100%;
  }
}

.close-popup {
  position: absolute;
  z-index: 5;
  top: -32px;
  right: 1px;
  float: right;
  display: block;
  width: 26px;
  height: 26px;
  background: url("../img/ico/ico_close.png") no-repeat;
  text-decoration: none;

  &:hover {
    opacity: .5;
  }
}

@include minw(768) {
  .popup-content {
    width: 332px;
  }
}

